body {
  background-color: black;
  color: #ffffff;
}
.btn {
  font-size: 20px; 
  padding: 10px 20px;
  background-color: #0095f6;
  color: white;
  border: none;
  border-radius: 5px; 
}

.btn:hover {
  background-color: black;
  color: #0095f6;
  border: 2px solid #0095f6;
}

/* Add content properties directly to .btn */
.btn:span{
  content: "#$(*@" !important;
}
.btn:hover span{
  content: "Instagram" !important;
}
